
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
	--hdrFont: "Poppins", sans-serif;
	--bodyFont: "Poppins", sans-serif;
	--bodtFontSize: 1.8rem;
	--bodyFontWeight: 400;
	--color1:#05445e;
	--color2:#189ab4;
	--color3:#75e6da;
	--color4:#d4f1f4;
	--navWidth: 450px;
}

html {
	font-size: 62.5%;
}

*, ::before, ::after {
		box-sizing: border-box;
		margin: 0;
		padding: 0;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
a {
	text-decoration: none;
	display: inline-block;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.wrapper {max-width: 1440px;margin: auto;}

body {
	font-family: var(--bodyFont);
	font-size: var(--bodtFontSize);
	font-weight: var(--bodyFontWeight);
}

/* HEADER */


.header {padding: 0 20px 0;background: var(--color2);position: relative;z-index: 3;margin: 0 0 0 var(--navWidth);}

.header__wrapper {}

.header__title {text-align: center;font-size: 4rem;font-weight: bold;color: #fff;padding: 10px;}

/* MENU */

.menu {position: fixed;width: var(--navWidth);background: var(--color4);min-height: 100vh;overflow: scroll;height: 100%;padding: 40px 70px 150px 40px;top: 0;z-index: 2;}

.menu_add_btn {margin: 0 auto 38px;}
.menu_add_btn:hover {}
.menu__list {display: flex;flex-direction: column;gap: 10px;}

.menu__list_item {background: #fff;border-radius: 20px;position: relative;}
.menu__list_title {font-size: 2rem;font-weight: 600;padding: 18px 68px 18px 18px;width: 100%;position: relative;color: var(--color1);}
.menu__list_title::after {content: ''; --arrowSize: 9px; --arrowColor:var(--color2); height: 0;border-left: var(--arrowSize) solid transparent;border-right: var(--arrowSize) solid transparent;border-top: var(--arrowSize) solid var(--arrowColor); font-size: 0;line-height: 0;position: absolute;top: 50%;right: 29px;transform: translateY(-50%); display: none; }

.menu__add_sub_category_btn.btn {padding: 7px;font-size: 20px;margin: 0 auto 20px;max-width: 230px;}
.menu__sub_list {padding: 10px 20px 30px;background: var(--color3);border-radius: 0 0 20px 20px;transition: all 500ms linear;}
.menu__sub_list_item {position: relative;}
.menu__sub_list_item .delete_btn {top: 4px;right: 10px;}
.menu__list_item.open .menu__sub_list {display: block;  opacity: 1;}

/* CONTENT */

.content {padding: 30px 70px 0;margin: 0 0 0 var(--navWidth);min-height: 90vh;}

.content__wrapper {padding: 0 0 50px;}
.content__container {min-height: 350px;}
.content__update-btn {margin: auto;}

.content__form_area {position: fixed;width: 100%;height: 100%;background: rgba(0,0,0,.6);inset: 0;display: flex;justify-content: center;align-items: center;z-index: 3;}

.content__form {width: 100%;background: #fff;max-width: 780px;overflow: scroll;margin: auto;height: 500px;border-radius: 20px;padding: 60px 30px 30px;display: flex;flex-direction: column;align-items: center;gap: 20px;position: relative;z-index: 5;}
.content__form_close_btn {position: absolute;top: 8px;right: 30px;font-size: 3rem;color: var(--color1);border: none;line-height: 100%;background: none;cursor: pointer;transition: color 500ms linear;}
.content__form_close_btn:hover {color: var(--color3);}
.content__form_fields {width: 100%;border: none;background: var(--color4);border-radius: 9px;height: 60px;font-family: var(--bodyFont);font-size: 1.6rem;text-transform: capitalize;padding: 12px;color: #000;}
.content__form_fields::placeholder {color: #333;}
.content__form_title {}

.content__form_info {resize: none;overflow: scroll;height: 100%;}

.content__form_btn {}

.content__title {font-size: 5rem;text-align: center;padding: 20px 0 39px;font-weight: 600;color: var(--color1);}

.content__container {}

.content__info {font-size: 1.6rem;line-height: 1.2em;}

/* FOOTER */

.footer {padding: 30px 20px;margin: 0 0 0 var(--navWidth);background: var(--color2);}

.footer_wrapper {}

.footer_copyright_text {text-align: center;color: #fff;}

/* UTILITY */

.hidden {display: none; opacity: 0;}
.btn { cursor: pointer; width: 100%;max-width: 310px;font-family: var(--hdrFont);font-size: 2rem;padding: 17px 30px;line-height: 100%;border-radius: 999px;border: none;background: var(--color1);color: #fff;display: flex;justify-content: center;transition: 500ms linear all;}
.btn:hover {background: var(--color2);}

.delete_btn {background: url(images/trash-btn.svg) no-repeat center/ cover;border: none;color: transparent;position: absolute;top: 26px;right: -47px;width: 20px;height: 20px;cursor: pointer;}
.delete_btn:hover {opacity: .5;}




